@import url('//fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important; 
    text-align: center;
}

.voltas {
    font-size: 64px;
    font-weight: bold;
}

.voltas div {
    font-size: 288px;
}

.tempo {
    font-size: 20px;
    font-weight: bold;
}

.tempo div {
    font-size: 64px;
}

button {
    background-color: #F9F9F9;
    border: 1px solid black;
    font-size: 18px;
    padding: 22px;
}

button.large {
    font-size: 144px;
    font-weight: bold;
    line-height: 50px;
}